@import url('https://fonts.cdnfonts.com/css/montserrat');                


.mysidenav{
  background-color:#53924F !important;
  font-weight: 600;
}

.navbar{
  background-color: #262626;
}

.navbar_font{
  font-weight: bold;
  font-style: italic;
  color: #53924F;
}

.sidebar{
  height: 88.8vh;
  width: 260px;
  background-color: #53924F;
}

.SidebarList{
  height: auto;
  padding: auto;
  width: 100%;
}

.SidebarList .row{
  width: 85%;
  height: 60px;
  border-bottom: 1px solid white;
  list-style-type: none;
  margin:0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight:600;
  font-size: 17px;
}

.SidebarList #active{
  font-weight: 800;
}

.SidebarList .row:hover{
  cursor: pointer;
  font-weight: bold;
}