#root{
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navFont{
  font-weight: bold;
  font-style: italic;
}

.mysidenav{
  background-color:#53924F !important;
  font-weight: 600;
}

.navbar{
  background-color: #262626;
}

.navbar_font{
  font-weight: bold;
  font-style: italic;
  color: #53924F;
}

.sidebar{
  height: 88.8vh;
  width: 270px;
  background-color: #53924F;
}

.SidebarList{
  height: auto;
  padding: auto;
  width: 100%;
}

.SidebarList .row{
  width: 85%;
  height: 60px;
  border-bottom: 1px solid white;
  list-style-type: none;
  margin:0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
  font-weight:600;
  font-size: 17px;
}

.SidebarList #active{
  font-weight: 800;
}

.SidebarList .row:hover{
  cursor: pointer;
  font-weight: bold;
}
